/* Variables - змінна */

:root {
    --header-font: normal 400 18px/25px 'Open Sans';
    --header-color: #828282;
    --header-first-color: #070707;
    --first-screen-font: normal 400 18px/25px 'Open Sans';
    --first-screen-first-font: normal 700 48px/65px 'Open Sans';
    --second-screen-font: normal 700 34px/46px 'Open Sans';
    --text-font: normal 400 18px/25px 'Open Sans';
    --text-color: #070707;
    list-style-type: none;
}

