@import url('./_normalize.css');
@import url('./_vars.css');

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


body {
    position: relative;
    width: 1440px;
    height: 4521px;
    margin: 0 auto;
    background: #FFFFFF;
  }


header{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
isolation: isolate;

position: absolute;
width: 1440px;
height: 80px;
left: 0px;
top: 0px;

}
.header{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 40px;

width: 496px;
height: 30px;
 

/* Inside auto layout */

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* identical to box height */

text-align: center;
letter-spacing: 0.02em;

color: #828282;
}
.header :first-child{
    color:  #070707;;
}

span{
    position: absolute;
width: 970px;
height: 0px;
left: 235px;
bottom: 0px;

border: 1px solid #828282;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
z-index: 1;
}
.first_screen{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 50px;

position: absolute;
width: 970px;
height: 497px;
left: 235px;
top: 92px;



}

.first_screen :first-child{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
}
.first_screen :nth-child(2){
    width: 970px;
height: 387px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0
} 

.second_screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    isolation: isolate;
    
    position: absolute;
    width: 970px;
    height: 500px;
    left: 235px;
    top: 589px;
    background: #F6F6F6;
}
.second_screen>p{
    width: 200px;
height: 40px;
margin-top: 100px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 46px;
text-align: center;

/* Black */

color: #070707;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;
    
    width: 480px;
    height: 210px;

    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-align: center;
    
    /* Black */
    
    color: #070707;
    
}
.third_screen{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 50px;

position: absolute;
width: 970px;
height: 564px;
left: 235px;
top: 1089px;
}
.heading{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 20px;

width: 250px;
height: 84px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#first{
    width: 120px;
height: 40px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 46px;
text-align: center;

/* Black */

color: #070707;
}
#second{
    width: 250px;
height: 24px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-align: center;

/* Black */

color: #070707;
}

.product-list{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 97px;

width: 970px;
height: 230px;
}
.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 60px;
    
    width: 170px;
    height: 230px;
}
.product{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 25px;
width: 78px;
height: 38px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;
text-align: center;
letter-spacing: 0.02em;

/* text */

color: #828282;

width: 80px;
height: 143px;

}

.raiting{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 170px;
height: 26px;

}
.fourth_screen{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 50px;
isolation: isolate;

position: absolute;
width: 970px;
height: 2268px;
left: 235px;
top: 1653px;

/* bg-gray */

background: #F6F6F6;


font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-align: center;
text-decoration-line: underline;

}
#first{
    width: 150px;
height: 40px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 46px;
text-align: center;

/* Black */

color: #070707;
}


.Fashion-Store{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 40px;

}

.Reebok-Store{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 40px;

width: 970px;
height: 604px;
}

.Braun-Landing-Page{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 40px;

width: 970px;
height: 604px;
}

.heading{
    width: 280px;
    height: 106px;
}

footer{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px 3px;
gap: 60px;

position: absolute;
width: 970px;
height: 400px;
left: 235px;
top: 4021px;

}
.links{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 30px;

width: 310px;
height: 114px;
}
.message{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
/* Black */

background: #070707;
border-radius: 22px;


font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}

.Social-group{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 50px;

width: 310px;
height: 40px;

}

.foot{
    width: 200px;
height: 60px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
text-align: center;

color: #828282;
}